<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="25/08/2023 16:29" createdAt="24/08/2023" 
      notes="We have two bags that are full, one with plastic and the pther one with glasses."></app-pickup-call-card>
  
  <app-pickup-call-card status="processing" updatedAt="24/08/2023 10:00" createdAt="23/08/2023"
      notes="We have two bags that are full."></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="23/08/2023 18.00" createdAt="22/08/2023" 
      value="$ 15,00"></app-pickup-call-card>

</ion-content>
